<h1>Create a new Item</h1>

<%= form_for [@location, @item] do |f| %>
<%=f.label :name %>
<%=f.text_field :name  %>
<%= f.label :atk_mod  %>
<%=f.number_field :atk_mod  %>
<%=f.label :hp_mod %>
<%=f.number_field :hp_mod  %>
<%= f.submit %>
<% end %>